[submodule "polymer"]
	path = polymer
	url = git@github.com:kumasento/polymer
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "vitis-hls"]
	path = vitis-hls
	url = https://github.com/Xilinx/HLS
