[submodule "example/polybench"]
	path = example/polybench
	url = git@github.com:MatthiasJReisinger/PolyBenchC-4.2.1.git
[submodule "polygeist"]
	path = polygeist
	url = https://github.com/wsmoses/Polygeist
[submodule "polymer"]
	path = polymer
	url = https://github.com/kumasento/polymer
[submodule "example/machsuite"]
	path = example/machsuite
	url = git@github.com:JianyiCheng/MachSuite.git
